<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WorkoutLogger</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <div>
      Kirjautunut nimellä {{ current_user.name }}
      <a href="{{ url_for('auth_logout') }}">Logout</a>
    </div>
    {% else %}
      <a href="{{ url_for('auth_login') }}">Login</a>
      <a href="{{ url_for('auth_register') }}">Sign up</a>
    {% endif %}
    <hr>
    <div>
      <a href="/">Home</a>
      <a href="{{ url_for('results_list') }}">List Results</a>
      <a href="{{ url_for('session_create') }}">Log a session</a>
    </div>
    <hr>
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <span>{{ message }}</span>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    {% block body %}
    {% endblock %}        
  </body>
</html>