<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WorkoutLogger</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      Kirjautunut nimellä {{ current_user.name }}
    </p>
    {% endif %}
    <div>
      WorkoutLogger:
      <a href="/">Home</a>
      <a href="{{ url_for('results_list') }}">List Results</a>
      <a href="{{ url_for('results_create') }}">Create a new result</a>
      <a href="{{ url_for('auth_login') }}">Login</a>
      <a href="{{ url_for('auth_register') }}">Register</a>
    </div>
    <hr>
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <span>{{ message }}</span>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    {% block body %}
    {% endblock %}        
  </body>
</html>