<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WorkoutLogger</title>
  </head>

  <body>
    <div>
      WorkoutLogger:
      <a href="/">Home</a>
      <a href="{{ url_for('results_list') }}"">List Results</a>
      <a href="{{ url_for('results_create') }}"">Create a new result</a>
      <a href="{{ url_for('auth_login') }}"">Login</a>
      <a href="{{ url_for('auth_register') }}"">Register</a>
    </div>
    <hr>
    {% block body %}
    {% endblock %}        
  </body>
</html>