{% extends "auth/base.html" %}
{% block body %}
<form method="POST" action="{{ url_for('auth_login') }}">
	<div class="form-group">
		{{ form.username }}
		{% for error in form.username.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</div>
	<div class="form-group">
		{{ form.password }}
		{% for error in form.password.errors %}
		<span style="color: red;">[{{ error }}]</span>
		{% endfor %}
	</div>
	<p>
		<button type="submit" name="submit_button" class="btn-outline-info">Login</button>
	</p>
{% endblock %}