{% extends "layout.html" %}

{% block body %}
{{ error }}
<form method="POST" {{ url_for('auth_register') }}"/>
<p>
	{{ form.name.label }}<br>
	{{ form.name }}
	{% for error in form.name.errors %}
	<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</p>
<p>
	{{ form.username.label }}<br>
	{{ form.username }}
	{% for error in form.username.errors %}
	<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</p>
<p>
	{{ form.password.label }}<br>
	{{ form.password }}
	{% for error in form.password.errors %}
	<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</p>
<p>
	{{ form.repeatPassword.label }}<br>
	{{ form.repeatPassword }}
	{% for error in form.repeatPassword.errors %}
	<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
</p>
<p>
	<input type="submit" value="Create new user"/>
</p>
</form>
{% endblock %}