{% extends "log/base.html" %}

{% block body %}
<form method="POST" action="{{ url_for('session_create') }}">
		{% for form in forms %}
		<p>
			{{ form.description.label }}
			{{ form.description }}
			{% for error in form.description.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{%endfor%}
		</p>
		{% endfor %}
	<p>
		 <input type="submit" name="add_row_button" value="add a row"/>
	</p>
	<p>
		<input type="submit" name="submit_button" value="add a new result"/>
	</p>
</form>
{% endblock %}