{% extends "log/base.html" %}

{% block body %}
<form method="POST" action="{{ url_for('session_create') }}">
{% for result in form.results %}
		<p>
			{{ result.description.label }}
			{{ result.description }}
			{% for error in result.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
	{% endfor %}
	<p>
		 <input type="submit" name="add_row_button" value="add a row"/>
	</p>
	<p>
		<input type="submit" name="submit_button" value="add a new result"/>
	</p>
</form>
	<!--	FORM ILMAN DYNAAMISIA KENTTIÄ<p>
			{{ form.description.label }}
			{{ form.description }}
			{% for error in form.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
	<p>
		<input type="submit" name="submit_button" value="add a new result"/>
	</p>-->
</form>
{% endblock %}