{% extends "auth/manage_users/base.html" %}

{% block body %}

<div>
	Change users' admin rights (yours and owners' cannot be changed)
</div>
<form method="POST" href={{url_for("manage_rights")}}>
<table width="40%">
	<tr>
		<th>Name</th>
		<th>Usename</th>
		<th>Has admin access</th>
	</tr>
	{% for user in users: %}
	<tr>
		<td>{{ user.name }}</td>
		<td>{{ user.username }}</td>
		{% if user.username == current_user.username or user.has_role('owner') %}
		<td><input type="checkbox" name="is_admin" value="{{ user.id }}" onclick="return false;"
							 class="btn-outline-info"
			checked/></td>
		{% elif user.has_role('admin') %}
		<td><input type="checkbox" name="is_admin" value="{{ user.id }}" class="btn-outline-info" checked/></td>
		{% else %}
		<td><input type="checkbox" name="is_admin" value="{{ user.id }}" class="btn-outline-info" /></td>
		{% endif %}
	</tr>
	{% endfor %}
</table>
	<p>
		<button type="submit" class="btn-outline-info">save changes</button>
	</p>
</form>

{% endblock %}